.button {
  background-color: $purple;
  border: none;
  border-bottom : .3rem solid darken($purple,10%);
  color:  white;
  font-weight: 500;
  padding: $s-size; 
}
.button--link{
  background: none;
  border: none;
  color:  $off-white;
  padding:0;
  word-break: keep-all;
}
.big-button {
  background: $purple;
  width:  100%;
  padding: $l-size 0;
  font-size: $l-size;
  color: white;
  border-bottom: $m-size solid darken($purple,10%);
  font-weight: 700;
  margin-bottom: $l-size;
}
.big-button:disabled  {
  opacity: .5;
}