.header {
  background: $off-black;
  margin-bottom: 0;
  padding: $m-size 0;
  color: white;
}
.header__title  {
  font: $l-size;
  margin: 0;
}
.header__subtitle{
  color:  $off-white;
  font-size:  $m-size;
  margin: 0;
  font-weight: 500;

}

@media (min-width: $desktop-breakpoint) {
  .header{
    margin-bottom: $xl-size;
  }
}